build/
debian/files
debian/*.substvars
debian/*.log
debian/*.debhelper
debian/*debhelper*
debian/*~
debian/DEBIAN/*
*.debhelper
*.debhelper.log
*.substvars
*.log
*.pot
*.po
*.mo
*.pyc
*.pyo
*~
.DS_Store
